@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background-color: #003049 !important;background-image: none;">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
