@using PayDec.Shared

<table class="table table-hover">
    <thead>
        <tr>
            @foreach (var property in SelectedProperties)
            {
                <th scope="col">@property</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var data in Data)
        {
            <tr>
                @for(int x = 0; x < SelectedProperties.Count();x++)
                {
                    @*<th>@data.GetProperty(SelectedProperties[x]).GetValue(data,null)</th>*@
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<string> SelectedProperties { get; set; } = new();
    [Parameter]
    public List<Object> Data { get; set; } = new();
}
