@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center align-items-center flex-column" style="height: 90vh">
    <h1>Welcome to PayDay!</h1>
    <i class="bi bi-credit-card" style="font-size: 40vh;"></i>
    <h3>Pay for your items in the decentralized manner</h3>
</div>



