@page "/Payment/"
@using PayDec.Client.Shared.Components
@using PayDec.Shared.Model

<h3>Payment Overview</h3>

<Table SelectedProperties="SelectedPaymentProperties" Data="Purchases"></Table>

@code {

    private List<object> Purchases { get; set; }
    private List<string> SelectedPaymentProperties { get; set; } = new List<string>() { "BoughtItemId","BuyerAdress"};

    protected override async Task OnInitializedAsync()
    {

    }
}
